<h1>Pick a Pokemon!</h1>
<div class="row">
  <div class="columns small-4">
    <%= link_to "Reject", root_path, class: "button" %>
    <div class="columns small-8" id="app">
    </div>
  </div>
</div>
