<div class="row">
  <% if current_user %>
    <div id="signed_in">
      <h1>Like Me?</h1>
      <div id="app">
      </div>
    </div>
  <% else %>
    <div id ="landing_page">
      <h1>A World Beckons...</h1>
      <img src="https://pldh.net/media/pokemon/ken_sugimori/20th_anniversary/151.png" />
    </div>
  <% end %>
</div>
